#logo{
    height: 185px;
    width: auto;
    border: 1px solid black;
    background-color: rgb(39, 117, 233);
}

#hh1{
   height: 40px;
   width: 290px;
}

#hh2{
    height: 80px;
    width: 425px;
}

#hh3{
    margin-top: 15%;
}